parameters:
    level: 8
    fileExtensions:
        - php
        - phpt
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method class@anonymous/tests/Mock/EntityManagerTrait.php:42::getRepository\(\)#'

    checkUninitializedProperties: true

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
