application:
    scanDirs: false

extensions:
    formMapper: FreezyBee\DoctrineFormMapper\DI\FormMapperExtension

formMapper:
    mappers:
        - FreezyBee\DoctrineFormMapper\Tests\Mock\CustomServiceMapper(param: "injectedParam")
    entityManager: @doctrine.entityManager2

services:
    customService: FreezyBee\DoctrineFormMapper\Tests\Mock\CustomService

    doctrine.configuration:
        class: Doctrine\ORM\Configuration
        setup:
            - setMetadataDriverImpl(Doctrine\ORM\Mapping\Driver\AttributeDriver([]))
            - enableNativeLazyObjects(true)

    doctrine.connection:
        class: Doctrine\DBAL\Connection
        factory: Doctrine\DBAL\DriverManager::getConnection({driver: pdo_sqlite, memory: true})

    doctrine.entityManager:
        class: Doctrine\ORM\EntityManager
        factory: Doctrine\ORM\EntityManager(@doctrine.connection, @doctrine.configuration)

    doctrine.entityManager2:
        class: Doctrine\ORM\EntityManager
        factory: Doctrine\ORM\EntityManager(@doctrine.connection, @doctrine.configuration)
