application:
    scanDirs: false

extensions:
    formMapper: FreezyBee\DoctrineFormMapper\DI\FormMapperExtension

formMapper:
    mappers:
        - FreezyBee\DoctrineFormMapper\Tests\Mock\CustomServiceMapper(param: "injectedParam")
    entityManager: @doctrine.entityManager2

services:
    customService: FreezyBee\DoctrineFormMapper\Tests\Mock\CustomService

    doctrine.configuration:
        class: Doctrine\ORM\Configuration
        setup:
            - setMetadataDriverImpl(Doctrine\ORM\Mapping\Driver\AnnotationDriver(Doctrine\Common\Annotations\AnnotationReader()))
            - setProxyDir(%appDir%/../tmp)
            - setProxyNamespace(Proxy)

    doctrine.entityManager:
        class: Doctrine\ORM\EntityManager
        factory: Doctrine\ORM\EntityManager::create({driver: pdo_sqlite, memory: true}, @doctrine.configuration)

    doctrine.entityManager2:
        class: Doctrine\ORM\EntityManager
        factory: Doctrine\ORM\EntityManager::create({driver: pdo_sqlite, memory: true}, @doctrine.configuration)
